<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/css/style.css" th:href="@{css/style.css}"/> 
        <link rel="stylesheet" href="../../static/css/united/bootstrap.min.css" th:href="@{css/united/bootstrap.min.css}"/>
        <script th:src="@{webjars/jquery/jquery.min.js}"></script> 
        <script th:src="@{webjars/bootstrap/bootstrap.min.js}"></script>
        
    </head>
    <body>
        <div th:replace="fragments/header::header">
        </div>
        <div layout:fragment="content">
            
        </div>
        <div th:replace="fragments/footer::footer">
        </div>
    </body>
</html>
