<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
    <head>
        <title>Project Management</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div layout:fragment="content" class="container mySpace">
            <div class="jumbotron">
                <div id="slider">
                    <div id="box">
                      <img src="../static/img/image1.jpg" th:src="@{img/image1.jpg}" class="mySlides"/>
                    </div>
                    <button class="prew" onclick="preImage()"><</button>
                    <button class="next" onclick="nextImage()">></button>
                </div>
            </div>
        </div>
    </body>
</html>
