<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
    <head>
        <title>Project Management</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div layout:fragment="content" class="container mySpace">
            <div class="jumbotron">
               <img class="mySlides" src="image1.jpg">
               <img class="mySlides" src="image2.jpg">
               <img class="mySlides" src="image3.jpg">
               <img class="mySlides" src="image3.jpg">
               <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
               <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
            </div>
        </div>
    </body>
</html>
