<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
    <head>
        <title>Project Management</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div layout:fragment="content" class="container mySpace">
            <div class="jumbotron">
               <img src="../static/img/image1.jpg" width="1000" th:src="@{img/image1.jpg}" class="mySlides"/>
               <img src="../static/img/image2.jpg" width="1000" th:src="@{img/image2.jpg}" class="mySlides"/>
               <img src="../static/img/image3.jpg" width="1000" th:src="@{img/image3.jpg}" class="mySlides"/>
               <img src="../static/img/image4.jpg" width="1000" th:src="@{img/image4.jpg}" class="mySlides"/>
            </div>
        </div>
    </body>
</html>
